name: testing
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest,]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        graphviz-version: ["0.20"]
        torch-version-map: [
          {torch: "1.7", torchvision: "0.8", torchtext: "0.8"},
          {torch: "1.8", torchvision: "0.9", torchtext: "0.9"},
          {torch: "1.9", torchvision: "0.10", torchtext: "0.10"},
          {torch: "1.10", torchvision: "0.11.1", torchtext: "0.11"},
          {torch: "1.11", torchvision: "0.12", torchtext: "0.12"},
          {torch: "1.12", torchvision: "0.13", torchtext: "0.13"},
          {torch: "1.13", torchvision: "0.14", torchtext: "0.14"},
        ]
        include:
          - python-version: "3.10"
            os: macos-latest
            graphviz-version: "0.20"
            torch-version-map: {torch: "1.13", torchvision: "0.14", torchtext: "0.14"}
          - python-version: "3.10"
            os: windows-latest
            graphviz-version: "0.20"
            torch-version-map: {torch: "1.13", torchvision: "0.14", torchtext: "0.14"}
          - python-version: "3.9"
            os: ubuntu-latest
            graphviz-version: "0.20"
            torch-version-map: {torch: "1.7.1", torchvision: "0.8.2", torchtext: "0.8.1"}
        exclude:
          - python-version: 3.7
            torch-version-map: {torch: "1.11", torchvision: "0.12", torchtext: "0.12"}
          - python-version: 3.7
            torch-version-map: {torch: "1.12", torchvision: "0.13", torchtext: "0.13"}
          - python-version: 3.7
            torch-version-map: {torch: "1.13", torchvision: "0.14", torchtext: "0.14"}
          
          - python-version: 3.9
            torch-version-map: {torch: "1.7", torchvision: "0.8", torchtext: "0.8"}

          - python-version: 3.10
            torch-version-map: {torch: "1.7", torchvision: "0.8", torchtext: "0.8"}
          - python-version: 3.10
            torch-version-map: {torch: "1.8", torchvision: "0.9", torchtext: "0.9"}
          - python-version: 3.10
            torch-version-map: {torch: "1.9", torchvision: "0.10", torchtext: "0.10"}
          - python-version: 3.10
            torch-version-map: {torch: "1.10", torchvision: "0.11.1", torchtext: "0.11"}

    steps:
    - uses: actions/checkout@v2.5.0
    - name: Install system dependencies
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          echo "::group::Run sudo apt-get update"
          sudo apt-get update
          echo "::endgroup::"
          echo "::group::Run sudo apt-get install graphviz"
          sudo apt-get install graphviz
          DOT_VERSION="$(dot -V 2>&1)"
          echo $DOT_VERSION;
          echo "::endgroup::"
          echo "::notice::Apt installed ${DOT_VERSION#dot - }"
        elif [ "$RUNNER_OS" == "macOS" ]; then
          echo "::group::Run brew install graphviz"
          brew install graphviz
          echo "::endgroup::"
          echo "::group::Run dot -V"
          DOT_VERSION="$(dot -V 2>&1)"
          echo $DOT_VERSION;
          echo "::endgroup::"
          echo "::notice::Apt installed ${DOT_VERSION#dot - }"
        elif [ "$RUNNER_OS" == "Windows" ]; then
          echo "::group::Run choco install graphviz"
          choco install graphviz
          echo "::endgroup::"
          echo "::group::Run dot -V"
          DOT_VERSION="$(dot -V 2>&1)"
          echo $DOT_VERSION;
          echo "::endgroup::"
          echo "::notice::Apt installed ${DOT_VERSION#dot - }"
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi
      shell: bash
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.3.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Pip install python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install mypy pytest pytest-cov
        pip install graphviz==${{ matrix.graphviz-version }}
        pip install torch==${{ matrix.torch-version-map.torch }} \
          torchvision==${{ matrix.torch-version-map.torchvision }} \
          torchtext==${{ matrix.torch-version-map.torchtext }}
      shell: bash
    - name: mypy
      if: ${{ matrix.torch-version-map.torch == '1.13' }}
      run: |
        mypy .
    - name: pytest
      if: ${{ matrix.torch-version-map.torch == '1.13' }}
      run: |
        pytest --cov=torchview --cov-report= --durations=0
    - name: pytest
      if: ${{ matrix.torch-version-map.torch != '1.13' }}
      run: |
        pytest --no-output
    - name: codecov
      uses: codecov/codecov-action@v3.1.1
